
.jumbotron {
  background-color:#e8ecea;
  padding-top:5rem;
}
img {
  padding-top: 5rem;
}
#about {
  background-color: #345B63;
}
#galery{
  background-color: #e8ecea;
}
#contact {
  background-color: #345B63;
}